USE [master]
GO
/****** Object:  Database [BanDoGiaDung]    Script Date: 16/12/2021 09:09:43 ******/
CREATE DATABASE [BanDoGiaDung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanDoGiaDung', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BanDoGiaDung.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BanDoGiaDung_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BanDoGiaDung_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanDoGiaDung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanDoGiaDung]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 16/12/2021 09:09:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Icon] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 16/12/2021 09:09:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[ItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 16/12/2021 09:09:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 16/12/2021 09:09:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Description] [ntext] NOT NULL,
	[Price] [int] NOT NULL,
	[ImageLink] [nvarchar](255) NULL,
	[CategoryId] [int] NOT NULL,
	[SellerID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[InStock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/12/2021 09:09:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[IsSeller] [int] NOT NULL,
	[IsAdmin] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Icon]) VALUES (1, N'Đồ gia dụng nhà bếp', NULL)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Icon]) VALUES (2, N'Đồ gia dụng lớn', NULL)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Icon]) VALUES (3, N'Máy hút bụi & Thiết bị làm sạch', NULL)
GO
INSERT [dbo].[OrderItem] ([ItemId], [Quantity], [UnitPrice], [ProductId], [OrderID], [Status]) VALUES (1, 2, 70, 11, 1, 0)
INSERT [dbo].[OrderItem] ([ItemId], [Quantity], [UnitPrice], [ProductId], [OrderID], [Status]) VALUES (2, 1, 2490, 1, 1, 1)
INSERT [dbo].[OrderItem] ([ItemId], [Quantity], [UnitPrice], [ProductId], [OrderID], [Status]) VALUES (3, 1, 1190, 12, 2, 1)
GO
INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [Status]) VALUES (1, 3, CAST(N'2021-12-05' AS Date), 0)
INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [Status]) VALUES (2, 3, CAST(N'2021-12-05' AS Date), 1)
INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [Status]) VALUES (3, 3, CAST(N'2021-12-07' AS Date), 2)
GO
INSERT [dbo].[Product] ([ProductId], [ProductName], [Description], [Price], [ImageLink], [CategoryId], [SellerID], [Amount], [InStock]) VALUES (2, N'Bếp từ AMOI cao cấp', N'Bếp từ đơn công suất 2600W
Mặt bếp bằng kính chịu nhiệt cho khả năng chịu được nhiệt độ cao.
Hiệu suất sử dụng năng lượng lên đến 95% tiết kiệm điện năng tiêu thụ.', 425, N'sp2.jpg', 1, 2, 100, 50)
GO
INSERT [dbo].[Users] ([UserId], [UserName], [Password], [IsSeller], [IsAdmin]) VALUES (1, N'admin', N'123', 0, 1)
INSERT [dbo].[Users] ([UserId], [UserName], [Password], [IsSeller], [IsAdmin]) VALUES (2, N'seller', N'81dc9bdb52d04dc20036dbd8313ed055
', 1, 0)
INSERT [dbo].[Users] ([UserId], [UserName], [Password], [IsSeller], [IsAdmin]) VALUES (3, N'user', N'123', 0, 0)
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [don_hang] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [don_hang]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [san_Pham] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [san_Pham]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [Nguoi_mua] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [Nguoi_mua]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [Loai_sp] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [Loai_sp]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [Nguoi_ban] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [Nguoi_ban]
GO
USE [master]
GO
